{
    "openapi": "3.0.0",
    "info": {
        "title": "Laravel Trippo - Admin",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": l@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        },
        {
            "url": "http://localhost:8000",
            "description": "Test Server"
        }
    ],
    "paths": {
        "/api": {},
        "/api/city/index": {
            "get": {
                "tags": [
                    "City"
                ],
                "summary": "Get All Citys",
                "description": "",
                "operationId": "IndexCity",
                "parameters": [
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of item per page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 10
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "this is all citys"
                                        },
                                        "data": {
                                            "properties": {
                                                "citys": {
                                                    "$ref": "#/components/schemas/CityResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerToken": []
                    }
                ]
            }
        },
        "/api/city/store": {
            "post": {
                "tags": [
                    "City"
                ],
                "summary": "Add City",
                "description": "",
                "operationId": "StoreCity",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCityRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "city is added success"
                                        },
                                        "data": {
                                            "properties": {
                                                "city": {
                                                    "$ref": "#/components/schemas/CityResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerToken": []
                    }
                ]
            }
        },
        "/api/city/{id}/show": {
            "get": {
                "tags": [
                    "City"
                ],
                "summary": "Get City By ID",
                "description": "",
                "operationId": "ShowCity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "City ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "this is your city"
                                        },
                                        "data": {
                                            "properties": {
                                                "city": {
                                                    "$ref": "#/components/schemas/CityResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerToken": []
                    }
                ]
            }
        },
        "/api/city/{id}/update": {
            "post": {
                "tags": [
                    "City"
                ],
                "summary": "Edit City",
                "description": "",
                "operationId": "UpdateCity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "City ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCityRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "city is updated success"
                                        },
                                        "data": {
                                            "properties": {
                                                "city": {
                                                    "$ref": "#/components/schemas/CityResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerToken": []
                    }
                ]
            }
        },
        "/api/city/{id}/delete": {
            "delete": {
                "tags": [
                    "City"
                ],
                "summary": "Delete City By ID",
                "description": "",
                "operationId": "DeleteCity",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "City ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "city is deleted success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerToken": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "StoreCityRequest": {
                "title": "StoreCityRequest",
                "description": "StoreCityRequest body data",
                "required": [
                    "username",
                    "email"
                ],
                "properties": {
                    "username": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    }
                },
                "type": "object",
                "example": {
                    "username": "mohamad_ra",
                    "email": l@gmail.com"
                }
            },
            "UpdateCityRequest": {
                "title": "UpdateCityRequest",
                "description": "UpdateCityRequest body data",
                "required": [
                    "username",
                    "email"
                ],
                "properties": {
                    "username": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    }
                },
                "type": "object",
                "example": {
                    "username": "mohamad_ra",
                    "email": l@gmail.com"
                }
            },
            "CityResource": {
                "title": "CityResource",
                "description": "CityResource body data",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    }
                },
                "type": "object",
                "example": {
                    "id": 1,
                    "username": "mohamad_ra"
                }
            }
        },
        "securitySchemes": {
            "bearerToken": {
                "type": "http",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "tags": [
        {
            "name": "City",
            "description": "API Endpoints of City"
        }
    ]
}